.description-page {
  padding: 100px 8px;
  margin: 0px 30px;
  height: 100vh;
}

.description-container {
  display: flex;
}
.individual-image {
  width: 100px;
  padding: 5px;
  margin-bottom: 5px;
  height: 100px;
}

.individual-image:hover {
  cursor: pointer;
  padding: 5px;
  border: 1.2px solid rgba(169, 169, 169, 0.141);
  border-radius: 10px;
}

.images-section {
  display: flex;
  flex-direction: column;
}
.main-image-section {
  /* background-color: rebeccapurple; */
  padding-top: 50px;
  margin-left: 40px;
  display: flex;
  width: 42%;
  /* align-items: center; */
  justify-content: center;
}
.main-image {
  max-width: 400px;
  height: 400px;
  object-fit: contain;
}
.info-section {
  /* border: 1px solid aqua; */
  width: 40%;
  margin-left: auto;
  padding: 30px;
}

.title {
}
.sub-title {
  margin-top: 10px;
}
.attribute-section {
  margin-top: 30px;
}
.attribute-title {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 500;
}
.attribute-button {
  height: 23px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  color: black;
  width: fit-content;
  border-radius: 5px;
  border: 0.5px solid black;
}

.attribute-button:active {
  background-color: black;
  color: white;
}

.attribute-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.cta-button {
  width: 100%;
  align-self: center;
  background-color: #5aee87;
  border: none;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.cta-button:hover {
  cursor: pointer;
}
.description-section {
  margin-top: 30px;
}
