.cta {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  padding: 5px;
  width: 130px;
  height: 40px;
  font-size: 14px;
}
.view-bag {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.checkout {
  background-color: #5ece7b;
  border: 1px solid #5ece7b;
  color: white;
}
.view-bag,
.checkout:hover {
  cursor: pointer;
}
