.overview {
  padding: 100px 8px;
  margin: 0px 30px;
  height: 100vh;
}
.title {
  font-size: 36px;
  font-weight: 400;
}
.product-lists {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
  width: 100%;
  align-items: center;
  justify-content: center;
}

.img-container {
  /* width: 80%; */
  /* height: 40%; */
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img {
  width: 100%;
  height: 270px;
  object-fit: fill;
}
.card-footer {
  margin-top: auto;
  /* margin-bottom: 10px; */
}
