.overview {
  padding: 100px 8px;
  margin: 0px 30px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.product-lists {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card-overlay {
  height: 100%;
  background-color: transparent;
  position: relative;
}

.add-to-cart-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  border-radius: 50%;
  display: none;
  z-index: 20;
  background-color: #5ece7b;
}
.card-overlay:hover .add-to-cart-btn {
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rebeccapurple;
}

.out-of-stock {
  position: absolute;
  font-weight: 600;
  z-index: 25;
}

.product-img {
  width: 100%;
  height: 270px;
  object-fit: fill;
}

.attribute-container {
  margin-top: 5px;
  margin-bottom: 5px;
}
.attributes {
  display: flex;
}
.attribute-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 5px;
}
label {
  display: flex;
  border: solid 1px black;
  padding: 5px;
  width: fit-content;
  height: 25px;
  color: black;
  text-align: center;
  line-height: 12px;
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

input:checked ~ label {
  border: 2px solid black;
  background-color: black;
  border-radius: 5px;
  color: white;
}

.attribute-name {
  display: flex;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

.card-footer {
  margin-top: auto;
  padding-top: 10px;
}

.product-name {
  color: #1d1f2271;
  font-size: 18px;
  font-weight: 500;
}

.product-price {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
}

.add-to-cart-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  display: none;
  background-color: #5ece7b;
  margin-left: 220px;
  margin-top: 250px;
}

.card:hover .add-to-cart-btn {
  /* display: block; */
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
