.overview {
  padding: 100px 8px;
  margin: 0px 30px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.product-lists {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  width: 100%;
  height: 270px;
  object-fit: fill;
}

.attribute-container {
  margin-top: 5px;
  margin-bottom: 5px;
}
.attribute-button {
  height: 23px;
  background-color: black;
  color: white;
  border: #1d1f2271;
  border: none;
  width: fit-content;
  border-radius: 5px;
  border: 0.5px solid black;
}

.attribute-button:hover {
  cursor: pointer;

  background-color: white;
  border: 1px solid black;
  color: black;
}

.attributes {
  margin-right: 5px;
}

.attribute-name {
  display: flex;
  font-size: 12px;
  margin-top: 5px;
}

.card-footer {
  margin-top: auto;
}

.product-name {
  color: #1d1f2271;
  font-size: 18px;
  font-weight: 400;
}

.product-price {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
}

.add-to-cart-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  display: none;
  background-color: #5ece7b;
  margin-left: 220px;
  margin-top: 250px;
  /* color: white; */
}

.card {
  background-color: rebeccapurple;
}

.card:hover .add-to-cart-btn {
  /* display: block; */
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
