.overview {
  padding: 100px 8px;
  margin: 0px 30px;
  height: 100vh;
}
.title {
  font-size: 36px;
  font-weight: 400;
}
.product-lists {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img {
  width: 100%;
  height: 270px;
  object-fit: fill;
}
.card-footer {
  margin-top: auto;
}
.product-name {
  color: #1d1f2271;
  font-size: 18px;
  font-weight: 400;
}
.product-price {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
}
