.overview {
  padding: 100px 8px;
  margin: 0px 30px;
  height: 100vh;
}
.title {
  font-size: 36px;
  font-weight: 400;
}
.product-lists {
  margin-top: 15px;
}

.product-img {
  width: 100px;
  height: 100px;
}
