/* .currency-dropdown {
  width: 30px;
  height: 60px;
  border: 0.3px solid gray;
  margin-left: auto;
} */
.currencies {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.currency {
  /* padding: 2px 1px 2px 1px; */
  padding: 5px;
  height: 80%;
}
.currency:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.205);
}
