/* .currency-dropdown {
  width: 30px;
  height: 60px;
  border: 0.3px solid gray;
  margin-left: auto;
} */
.currencies {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
