.currencies {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.currency {
  padding: 5px;
  height: 80%;
}
.currency:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.205);
}
