.card {
  width: 310px;
  height: 390px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.card:hover {
  box-shadow: 3px 3px 22px -2px rgba(194, 194, 194, 0.75);
  -webkit-box-shadow: 3px 3px 22px -2px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 3px 3px 22px -2px rgba(194, 194, 194, 0.75);
}
