.card {
  width: 330px;
  height: fit-content;
  padding: 20px;
  /* position: relative; */
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

/* .add-to-cart-btn {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  display: none;
  background-color: #5ece7b;
  margin-left: 250px;
  margin-top: 250px;
} */

.card:hover .add-to-cart-btn {
  /* display: block; */
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card:hover {
  box-shadow: 3px 3px 22px -2px rgba(194, 194, 194, 0.75);
  -webkit-box-shadow: 3px 3px 22px -2px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 3px 3px 22px -2px rgba(194, 194, 194, 0.75);
}
