.card {
  width: 330px;
  height: fit-content;
  padding: 20px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.card-out-of-stock {
  opacity: 0.5;
}
.out-of-stock {
  background-color: rgba(255, 255, 255, 0.382);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 20;
}

.card:hover {
  box-shadow: 3px 3px 22px -2px rgba(194, 194, 194, 0.75);
  -webkit-box-shadow: 3px 3px 22px -2px rgba(194, 194, 194, 0.75);
  -moz-box-shadow: 3px 3px 22px -2px rgba(194, 194, 194, 0.75);
}
