.cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: blue; */
  overflow-x: hidden;
  overflow-y: hidden;
  /* overflow-y: scroll; */
}

.backdrop {
  position: fixed;
  top: 60px;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(57, 55, 72, 0.22);
}

.modal-overlay {
  position: fixed;
  top: 60px;
  right: 30px;
  width: 250px;
  height: 300px;
  background-color: white;
  z-index: 25;
  padding: 1rem;
}
