.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.568);
}

.modal-overlay {
  position: relative;
  top: 0;
  right: 0;
  width: 80px;
  height: 50px;
  background-color: white;
  padding: 1rem;
}
