.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: white;
  opacity: 0.99;
}
.link-container {
  display: flex;
  align-items: center;
  width: 230px;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
  margin-left: -30px;
}

.category-link {
  padding: 7px;
  font-weight: 300;
  padding-bottom: 10px;
}
.icon-container:hover {
  cursor: pointer;
}
li {
  padding: none;
  margin: none;
  list-style: none;
}
.category-link:hover {
  cursor: pointer;
  color: #5ece7b;
}

.active {
  color: #5ece7b;
  font-weight: 500;
  padding-bottom: 10px;
  border-bottom: 2px solid #5ece7b;
}

.navbar-left {
  display: flex;
  align-items: center;
  background-color: white;
}
.icon {
  padding: 4px;
  margin-left: 10px;
  position: relative;
  display: flex;
}

.angle-icon,
.cart-icon {
  padding-left: 5px;

  cursor: pointer;
}
