.navbar {
  /* background-color: red; */
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
.link-container {
  display: flex;
  align-items: center;
  width: 230px;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}
.category-link {
  padding: 7px;
  font-weight: 300;
  padding-bottom: 18px;
}
.icon-container:hover {
  cursor: pointer;
}
.category-link:hover {
  border-bottom: 1px solid #5ece7b;
  cursor: pointer;
  color: #5ece7b;
}
.category-link:active {
  font-weight: 500;
  border-bottom: 2px solid #5ece7b;
}

.navbar-left {
  display: flex;
  align-items: center;
  background-color: white;
}
.icon {
  padding: 4px;
  margin-left: 10px;
  position: relative;
  display: flex;
}
.icon:hover {
  cursor: pointer;
}
.badge {
  font-size: 10px;
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: absolute;
  padding: 2px;
  border-radius: 50%;
  color: white;
  right: 0;
  top: 0;
}
